<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>
	<h1>Digits Only Example</h1>


	<div ng-app="myAppName" ng-controller="validateCtrl">
		<p>
			Age(number type):<br/> 
			<input type="number" name="age" ng-model="age" only-digits />
			
			<br/><br/>
			Age(text type):<br/>
			<input type="text" name="age2" ng-model="age2" only-digits />
		</p>
	</div>

	<br />
	<a
		href="http://stackoverflow.com/questions/16091218/angularjs-allows-only-numbers-to-be-typed-into-a-text-box">it
		comes from here</a>

	<script>
		var myApp = angular.module('myAppName', []);

		myApp.controller('validateCtrl', function($scope) {
			$scope.age = 35;
			$scope.age2 = 36;
		});

		myApp.directive('onlyDigits', function() {
			return {
				restrict : 'A',  //  "A" is for HTML attribute
				
				require : 'ngModel',  // ask target element must have "ng-model" directive
				// the page will throw exception if target element doesn't have "ng-model" directive
						
				/*
				The linking phase is where you attach the data ( $scope ) to the linking function and it should return you the linked html. 
				Since the directive also specifies where this html goes or what it changes, it is already good to go. 
				This is the function where you want to make changes to the linked html, 
				i.e the html that already has the data attached to it. 
				In angular if you write code in the linking function its generally the post-link function (by default). 
				It is kind of a callback that gets called after the linking function has linked the data with the template.
				*/
				link : function(scope, element, attrs, ngModel) {
					if (!ngModel){
						return;
					}						
					ngModel.$parsers.unshift(function(inputValue) {
						
						// remove all no digits chars from input string 
						var digits = inputValue.split('').filter(function(s) {
							return (!isNaN(s) && s != ' ');
						}).join('');
						 
						
						ngModel.$viewValue = digits;
						ngModel.$render();
						return digits;
					});
				}
			};
		});
	</script>

</body>
</html>
