<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>
	<h1>Validation Example</h1>
	<a href="http://www.w3schools.com/angular/angular_validation.asp">it comes from here</a>
	<br/>
	<a href="http://www.ng-newsletter.com/posts/validations.html">please also see here</a>


	<form ng-app="myAppName" ng-controller="validateCtrl" name="myForm" novalidate>

		<p>
			Username:<br> <input type="text" name="user" ng-model="user" required> <span style="color: red"
				ng-show="myForm.user.$dirty && myForm.user.$invalid"> <span ng-show="myForm.user.$error.required">Username
					is required.</span>
			</span>
		</p>

		<p>
			Email:<br> <input type="email" name="email" ng-model="email" required> <span style="color: red"
				ng-show="myForm.email.$dirty && myForm.email.$invalid"> <span ng-show="myForm.email.$error.required">Email
					is required.</span> <span ng-show="myForm.email.$error.email">Invalid email address.</span>
			</span>
		</p>
		
		<p>
			Age:<br> <input type="number" name="age" min="1" max="1500" ng-model="age" required> 
			<span style="color: red"
				ng-show="myForm.age.$dirty && myForm.age.$invalid"> <span ng-show="myForm.age.$error.required">Age
					is required.</span> <span ng-show="myForm.age.$error.email">Invalid age, need number.</span>
			</span>
		</p>
		

		<p>
			<input type="submit"
				ng-disabled="myForm.user.$dirty && myForm.user.$invalid 
				||myForm.email.$dirty && myForm.email.$invalid
				||myForm.age.$dirty && myForm.age.$invalid"
				>
		</p>

	</form>

	<script>
	var myApp = angular.module('myAppName', [ ]);
	myApp.controller('validateCtrl', function($scope) {
		$scope.user = 'John Doe';
		$scope.email = 'john.doe@gmail.com';
		$scope.age = 35;
	});
	</script>

</body>
</html>
