<!DOCTYPE html>
<html ng-app="plunker">

    <head>
        <meta charset="utf-8" />
        <title>directive communication</title>
        <script  src="http://code.angularjs.org/1.2.7/angular.js" ></script>
        <script src="communication.js"></script>
    </head>

    <body ng-controller="MainCtrl">
        <h1> demo directive communication</h1>

        <fieldset>
            <legend>  First Directive</legend>
            <directive-a >
                <h3>{{firstCtrl.data}}</h3>
                <button ng-click="firstCtrl.set()">Change Value</button>
            </directive-a>
        </fieldset>

        <fieldset>
            <legend>  First Directive (second instance)</legend>
            <directive-a >
                <h3>{{firstCtrl.data}}</h3>
                <button ng-click="firstCtrl.set()">Change Value</button>
            </directive-a>
        </fieldset>
        <br/><br/>
        
        <fieldset>
            <legend>  Second Directive</legend>
            <directive-b>
                <h3>{{secondCtrl.data}}</h3>
            </directive-b>
        </fieldset>
        
        <fieldset>
            <legend>  Second Directive (second instance)</legend>
            <directive-b>
                <h3>{{secondCtrl.data}}</h3>
            </directive-b>
        </fieldset>

        <a href="http://stackoverflow.com/questions/25274563/angularjs-communication-between-directives" target="_blank">it comes from here</a><br/>
    </body>

</html>