table{
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
}

table.fixedTotalWidth{
    width: 600px;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
	white-space: nowrap
}

table th:nth-child(1){
    width: 15%;
}

table th:nth-child(2){
    width: 25%;
}