<!DOCTYPE html>
<html lang="en">
	<head>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>  
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-mocks.js"></script>
		<script src="app.js"></script>
	</head>

	<body>
	<h1> this is a demo of AngualrJs mock up ajax call</h1>
	<h2> didn't delay the response</h2>
	<h2> didn't separate mock up controller from json data</h2>	
	
	<div ng-app="myAppDev" ng-controller="personController">

		First Name: <input type="text" ng-model="user.firstName"><br>
		Last Name: <input type="text" ng-model="user.lastName"><br>
		<br>
		Full Name: {{user.firstName + " " + user.lastName}}
	</div>

	<br/><br/>
	<a href = "https://docs.angularjs.org/api/ngMockE2E/service/$httpBackend">it comes from here</a>

</html>
