table {
    table-layout: fixed;
    width: 100%;
}


table th:nth-child(1){
    width: 150px; /* this must be the same as inner width */
    position: absolute;	   /* this is the key point to fix the first coloumn*/
    left: 0;
    vertical-align: top;
    border-top: 1px solid #ccc;
    padding: 10px;

}

td {
    vertical-align: top;
    border-top: 1px solid #ccc;
    padding: 10px;
    width: 200px;
}

.outer {
    position: relative;
    width:100%
}

.inner {
    overflow-x: auto;
    overflow-y: visible;
    width: 88%;   /* 12% of outer must > 150px*/
    margin-left: 150px;
}