<div id="project">

		<div>{{message}}</div>
		
		<div ng-show="loading">
			<img src="img/loading_circle.gif" />
		</div>
		
		<div ng-show="project">			
			<div class="radio">
				<label> 
					<input type="radio" value="RMS"	name="catModel" 
					ng-model="selectedCatModel"
					ng-change="onChange()"
					/> RMS
				</label>
				<label>
					<input type="radio" value="Validus"	name="catModel" 
					ng-model="selectedCatModel"
					ng-change="onChange()"
					/> AIR
				</label>
			</div>  
			
			<b>Name: </b>{{project.name}}<br/>
			<b>Type: </b>{{project.type}}<br/>
			<b>Underwriter: </b>{{project.underwriter}}<br/>
			<b>Profit Center: </b>{{project.profile}}
		</div>
</div>