.dialog {
    position: absolute;
    left: 50%;
    top: 100px;
	height: 200px;
    margin-left: -315px;
    width: 430px;
    z-index: 100001;

}
.dialog .body {
    background: url(./dialog.png) 0 0; /* semi-transparent .png image */
    padding: 40px 13px 10px 40px;
}

dialog { 
	background-color: yellow;
	font-family: Avenir, sans-serif; 
	width: 25%; 
	text-align: center; 
	border: 3px solid; 
}

dialog::backdrop { 
	background: rgba(0,0,0,0.9); 
}