.container {
	margin: 10px;
	background: #0F0;
	padding:10px;
}

.right {
	padding: 20px 20px 200px;
	overflow: auto;
	background: none repeat scroll 0% 0%  #CCC;
}

.left {
	width: 360px;
	padding: 20px;
	float: left;
}
