<html ng-app="PersonApp">
    <head>
        <meta charset="utf-8">

        <title>Angular Structure Example</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.js"></script>

        <script src="countryService.js"></script>
        <script src="countryField.js"></script>
        <script src="promise_2.js"></script>
        

    </head>
    <body ng-controller="PersonCtrl">
        <h1>demo how to set Angular Structure</h1>
        <ul>
            <li> promise + service + directive</li>
            <li> multiple request on the same service </li>
        </ul>
        <button ng-click="loadPerson(false)">query correct data</button>
        <button ng-click="loadPerson(true)">query wrong data</button>
        
        <br/><label style="color: red">{{errMsg}}</label>
        <br/>
        Name: {{person.name}}
        
        <br/><br/>
        Citizen {{person.citizen}}<br/>
        Citizen: <country.field field="person.citizen" ></country.field>
    
        <br/><br/>
        Birth {{person.birth}}<br/>
        Birth: <country.field field="person.birth" ></country.field>
    
                
        <br/>

        please see 
        <a href = "http://blog.parse.com/learn/engineering/whats-so-great-about-javascript-promises/" target=_blank>here</a>
        for benefits

    </body>
</html>