<html ng-app="PersonApp">
    <head>
        <meta charset="utf-8">

        <title>Angular layer Example</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.js"></script>

        <script src="countryService.js"></script>
        <script src="countryField.js"></script>
        <script src="promise_2.js"></script>


    </head>
    <body ng-controller="PersonCtrl">
        <h1>demo how to set Angular layer</h1>
        <ul>
            <li> directive -> promise -> service</li>
            <li> reuse http request in the service for multiple directive instances </li>
        </ul>
        <button ng-click="loadPerson(false)">query correct data</button>
        <button ng-click="loadPerson(true)">query wrong data</button>

        <br/><label style="color: red">{{errMsg}}</label>
        <br/>

        <table>
            <thead>
                <tr>
                    <th width="100">ID</th>
                    <th width="150">Name</th>
                    <th width="80">Citizen</th>
                    <th width="190" >Citizen</th>
                    <th width="80">Birth</th>
                    <th width="190">Birth</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in person">
                    <td> {{p.ID}} </td>
                    <td> {{p.name}} </td>
                    <td> {{p.citizen}}</td>
                    <td> <country.field field="p.citizen" ></country.field></td>
                    <td> {{p.birth}} </td>
                    <td> <country.field field="p.birth" ></country.field> </td>
</tr>
</tbody>
</table>



<br/>

please see 
<a href = "http://blog.parse.com/learn/engineering/whats-so-great-about-javascript-promises/" target=_blank>here</a>
for benefits

</body>
</html>