table{
    border: 1px solid black;
    width: 100%;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
	white-space: nowrap
}

tr:nth-child(even) td {
	background-color: #ddd;
}


table th:nth-child(2){
    width: 25%;
}

.first {
  background-color: lightblue;
  width:15%;
}
.second {
  background-color: pink;
}
.third {
	color: blue;
	width: 5%;
  background-color: lightyellow;
}