<!DOCTYPE html>
<html lang="en">
	<head>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>  
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-mocks.js"></script>
		<script src="js/app.js"></script>
	</head>

	<body>
	<h1> this is a demo of AngualrJs mock up ajax call on the delay mode</h1>
	<h2> didn't find a better way to separate mock up controller from json data</h2>	
	
	<div ng-app="myAppDev" ng-controller="personController">

		<div ng-if="user == null">
			<img src="img/loading_circle.gif" />
		</div>
		<div ng-if="user">
			<b>First Name: </b>{{user.firstName}}<br>
			<b>Last Name: </b>{{user.lastName}}<br>
			<b>Full Name: </b>{{user.firstName + " " + user.lastName}}
		</div>
	</div>

	<br/><br/>
	<a href = "http://endlessindirection.wordpress.com/2013/05/18/angularjs-delay-response-from-httpbackend/" target=_blank>it comes from here</a>

</html>
